@import url('variables.css');

/* จากนั้นสามารถดึงตัวแปรมาใช้ได้เลยแบบนี้ */
body {
  font-family: var(--font-family-main);
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
}

h1 {
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-lg);
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 0 var(--space-md);
}
